
body, h1, h2, p, ul, li, form {
    margin: 0px;

    padding: 2px;
}
.draggable {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

    .draggable:hover {
        transform: scale(1.1);
    }

.card{
    width: 80%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: scale(1.1);
    }

img.d-block{
    width: 500px;
    height: 300px;
}

hr {
    border: 2px;
    color: gray;
    background-color: gray;
    height: 3px;
}
a{
    color:black;
}
    a:hover {
        text-decoration: none; 
        color: white; 
        background: #0094ff; 
    }
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    background-image: url(поле.jpg)
}

header > p{
    color: white;
    font-weight: 700;
}

    header > h1::before {
        content: '⚽'
    }
    header > h1::after {
        content: '⚽'
    }
header a:hover{
    background-color:black;
}

table {
    border: 3px solid gray;
    width: 100% ;
    background-color: #333;
}
tr {
    border: 3px solid gray;
    width: 100%;
}
td.f {
    width: 75%;
    border: 3px solid gray;
}
td.s {
    background-image: url("https://img.goodfon.ru/wallpaper/big/4/1a/seryi-linii-lines-grey-fon.jpg") ;
    border: 3px solid gray;
    vertical-align: top;
    width: 25%
}
td.s h2{
    text-align: center;
}
section.second {
    border: 3px solid grey;
    background-color: white;
}
nav ol {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
    padding: 2px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    border: 3px solid gray;
    background-color: white;
}
.champ > ul {
    border-left: 4px solid gray;
    list-style: none;
    padding-left: 15px;
   
}
#myForm {
    margin: 10px 10px 10px 10px;
}
input {
    padding: 5px;
    margin: 10px;
}

/*add css to li in todo-list*/

section.todo > #taskList > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
section.todo > input[type="text"] {
    width: 70%;
    padding: 5px;
    margin-left: 10px;
}
#ball {
    width: 50px;
    height: 65px;
    position: absolute;
    border-radius: 50%; /* Делаем квадратный блок круглым */
}

img {
    max-width: 100%;
    height: auto;
}
div > img.card-img{
    height: 100px;
    width:auto;
}
#errorMessages{
    color:brown;
    padding: 5px;
    margin: 5px;
}


form {
    margin-top: 10px;
}

 .categories {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 300px;
            border: 2px solid #333;
            padding: 10px;
            margin: 10px;
            margin-bottom: 20px;
          
        }
        #category1 {
            background-image: url("https://vesti.kz/userdata/news/2022/news_316207/crop_b/photo_183379.jpg");
        }

        #category2 {
            background-image: url("https://ss.sport-express.ru/userfiles/materials/156/1562470/volga.jpg");
        }
#category3 {
    background-image: url("https://bukmekerov.net/wp-content/uploads/2021/05/Liga-konferentsij-UEFA-reglament-format-pravila.jpg");
}

        .category {
            width: 100%;
            height: 50px;
            border: 2px solid #333;
            margin: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: aliceblue;
            background-color: #333;
        }

        .draggable {
            width: 100px;
            height: 30px;
            border: 2px solid #333;
            margin: 5px;
            cursor: pointer;
            color: #fff;
            background-color: #333;
        }
        .categories-container {
            display: flex;
        }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto; /* Добавлено свойство margin-left */
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

button {
    background-color: #333;
    color: #fff;
    padding: 2px 5px;
    border: none;
    cursor: pointer;
}
button:disabled {
       
        background-color: lightgray; 
        color: gray;
    }
footer {
    background-image: url(https://img.goodfon.ru/wallpaper/big/4/1a/seryi-linii-lines-grey-fon.jpg);
    color: #fff;
    text-align: center;
    padding: 10px;
}

    footer ul {
        list-style: none;
        color: white;
    }
    footer li {
        display: inline;
        margin-right: 20px;
        padding: 2px;
    }
    footer a{
        color: white;
    }
/*Accordion css*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.quiz-container {
    width: 400px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}

    .btn:hover {
        background-color: #45a049;
    }

.hide {
    display: none;
}

/*for timer*/
section.timer > #timer{
    text-align:center;
    font-size: 30px;
}
video {
    width: 60%;
    height: auto;
    text-align:center;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align:center;
}

    
    .tab button {
        background-color: inherit;
        color: dimgrey;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 7px 8px;
        transition: 0.3s;
        font-size: 17px;
    }

       
        .tab button:hover {
            background-color: #ddd;
        }

       
        .tab button.active {
            background-color: #ccc;
        }


.tabcontent {
    display: none;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-top: none;
    text-align:center;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}